<div class="modal fade" id="modalenvoiconseils" tabindex="-1" role="dialog">{# affiche les infos #}
    <div class="modal-dialog" role="document">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modalenvoiconseilsLabel">Information </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form name="confirm_form" id="confirm_form"
                      action="{{ path('secretariatjuryCia_envoi_mail_conseils') }}">
                    <input type="hidden" id="idequipe" name="idequipe" value="recipient-name"/>
                    <button type="submit" id="submit_form" class="btn btn-primary">Envoyer</button>
                    <p>Voulez-vous envoyer ces conseils aux professeurs de l'équipe?<h6 id="modal_body"></h6> </p>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>