<div class="modal" id="modal-gal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 150%; background-color: black;top: 50%;
  left: 50%;
  transform: translate(-50%);overflow: scroll">
            <div class="modal-header">
                <h5 class="modal-title" style="color: white; font-size: 1.2em">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: scroll">
                <div style="text-align: center">
                <img class="modal-content-gal" style="width: 100%"></div>
                <div class="modal-caption-gal" style="background-color: black; color: white;text-align: center">

               </div>

            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-primary" id="enregistrer-image" target="_self" download="">Enregistrer l'image</a><br>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

