<div class="modal fade" id="modalaideorgacia" tabindex="-1" role="dialog">{# affiche les infos #}
    <div class="modal-dialog" role="document">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modalaideorgaciaLabel">Information </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Le compte olymphys du juré peut être modifié en cas d'erreur ou de changement en utilisant deux méthodes
                :<br>
                Les noms, prénoms et initiales des jurés peuvent être modifiés directement dans les champs de ce
                formulaire<br>
                On peut vérifier et modifier les noms et prénoms et l'adresse mail d'un juré en cliquant sur le crayon
                présent sur la ligne du juré.<br>
                <b>A noter : L'effacement d'un juré <u>ne supprime pas</u> son compte olymphys.</b><br>
                - Laisser vide la case d'affectation d'une équipe pour le juré qui ne l'examine pas.<br>
                - E : le juré examine l'équipe mais n'est pas le rapporteur.<br>
                - R : le juré examine l'équipe et est rapporteur.<br>
                - L : le jure examine l'équipe et est lecteur.<br>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>