<div class="modal fade" id="modalinfo" tabindex="-1" role="dialog">{# affiche les infos #}
    <div class="modal-dialog" role="document">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modalinfoLabel">Information </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {{ app.session.get('info') }}

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>