.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

/* Header */
#barre_haut {
    background-color: black;
    height: 16px;
    width: 100%;
}

#wrapper {
    background-color: #555f69;
    height: 34px;
    width: 100%;
    padding: 0;
}

.menu_haut {
    color: black;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
.menu_haut a {
    color: black;
}

.menu_haut a:hover {
    background: #111a21;
    color: #ffffff;
}
.menurouge {
    background-color: #b1191d;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.menurouge a {
    color: white;
}

.menurouge a:hover {
    background: #ffffff;
    color: #b1191d;
}
.login {
    background-color: #ffffff;
    color: black;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
}

.login a {
    color: black;
    text-decoration: none
}

.login a:hover {
    background: #ffffff;
    color: black;
    text-decoration: none
}

.page-header {
    position :relative;
    left :-285px;
    top :-34px;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

/*https://stackoverflow.com/questions/5533636/add-a-horizontal-scrollbar-to-an-html-table */

table tbody {
    display: table;
    width: 100%;
}