.formulaire {

    background-color: #EEEEEE;
    font-size: 12px

}

.inscritered {
    color: #FF0000

}

.inscritegreen {
    color: #00FF00

}

.dropdown-item {
    background-color: #B21B16;
    color: #FFF;
    border-color: #B21B16;
    border-radius: 0;

}

.btn-primary, .btn-outline-primary, .dropdown-menu {
    background-color: #B21B16;
    color: #FFF;
    border-color: #B21B16;
    border-radius: 0;

}

.dropdown-divider {
    background-color: #B21B16;
    color: #FFF;
    border-color: #B21B16;
    border-radius: 0;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #000000;
    color: #FFF;
    border-color: #000000;
    border-radius: 0;
}

.dropdown-item:hover {
    background-color: #000000;
    color: #FFF;
    border-color: #000000;
    border-radius: 0;
}

