{% extends 'base1.html.twig' %}

{% block body %}

    {{ form(form) }}
    <a href="{{ path('secretariatjuryCia_accueil',{'centre':app.user.centrecia}) }}" class="btn-primary" type="button">Annuler</a>
{% endblock %}