<li class="nav-item dropdown menu_haut">
    <a class="nav-link" href="{{ path('cyberjuryCia_accueil') }}" role="button" aria-haspopup="true"
       aria-expanded="false">Accueil du jury</a>

</li>
<li class="nav-item dropdown menu_haut">
    <a class="nav-link" href="{{ path('cyberjuryCia_tableau_de_bord',{'critere':'TOT','sens':'DESC'}) }}" role="button"
       aria-haspopup="true"
       aria-expanded="false">Tableau de bord</a>

</li>
<li class="nav-item dropdown menu_haut">
    <a class="nav-link" href="{{ path('secretariatjuryCia_classement') }}" role="button"
       aria-haspopup="true"
       aria-expanded="false">Classement de toute les équipes</a>
</li>
{#  <li class="nav-item dropdown menu_haut">
    <a class="nav-link" href="#"  aria-haspopup="true"
       aria-expanded="false"> {{ app.user.prenomNom }}</a>
</li>
#}

