{# templates/core/index_travaux.html.twig #}
{% extends "base1.html.twig" %}

{% block title %}
    Page d'accueil - {{ parent() }}

{% endblock %}

{% block body_gche %}


{% endblock %}
{% block titre3 %}
    <div class="text-center"> Le concours {{ app.session.get('edition').annee }}<br>{{ app.session.get('edition').ed }}
        <sup>e</sup> édition des Olympiades de Physique France
    </div>
{% endblock %}
{% block body %}
    Le site en momentanément en vacances pour :
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Panneau_travaux.svg/120px-Panneau_travaux.svg.png">
    travaux : pour que le site soit plus fiable et plus accessible enrichi de nouvelles fonctionnalités.




{% endblock %}