<div class="col-md-12 col-lg-4">
    <h1 class="titre-ppal">
        {{ article.titre|raw }}
    </h1>
</div>

<div class="col-centre">

    <div class="contenu" style="padding-top: 15px;padding-bottom: 20px;">
        {{ article.texte|raw }}
    </div>


</div>