{% extends 'base1.html.twig' %}
{% block titre3 %}
    Inscrire un nouveau juré
{% endblock %}
{% block body %}
    <div class="small">
        Le compte Olymphys du nouveau juré est automatiquement créé avec envoi au juré de ses identifiants.<br>

    </div>
    {{ form(form) }}
    <a href="{{ path('secretariatjury_gestionjures') }}" class="btn-primary" type="button">Annuler</a>
{% endblock %}