{% extends "base1.html.twig" %}
{% block title %} Édition des visites {% endblock %}

{% block titre3 %} Édition des visites {% endblock %}

{% block navigation %}
    {{ include ("secretariatjury/navigation.html.twig") }}
{% endblock %}
{% block body %}

    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Lettre</th>
                <th>Titre projet</th>
                <th>Visite de laboratoire</th>
            </tr>
            </thead>
            <tbody>
            {% for equipes in listEquipes %}
                <tr>
                    <th><span class="btn btn-primary btn-lg">{{ equipes.equipeinter.lettre }} </span></th>
                    <td>{{ equipes.equipeinter.titreProjet }}</td>
                    <td>{% if equipes.visite != NULL %}
                            {{ equipes.visite.intitule }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}