
<li class="nav-item dropdown menu_haut">

    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">Accueil secrétariat</a>

    <div class="dropdown-menu login py-0" aria-labelledby="dropdownMenu1">>

        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_accueil_jury') }}">Accueil du jury</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_vueglobale') }}" >Vue globale </a>
    </div>

</li>
