{% extends "base1.html.twig" %}
{% block title %} Mise en place de la base de données {% endblock %}

{% block titre3 %} Mise en place de la base de données {% endblock %}

{% block navigation %}
    {{ include ("secretariatjury/navigation.html.twig") }}
{% endblock %}

{% block body %}

    <div class="well">
        <p>La base de données est prête pour attribuer les prix. </p>
    </div>

{% endblock %}