{% extends "base1.html.twig" %}
{% block title %} Préparation {% endblock %}
{% block titre3 %}  Charger les équipes {% endblock %}

{% block navigation %}
    {{ include ("secretariatjury/navigation.html.twig") }}
{% endblock %}

{% block body %}
    <div class='well'>
        {{ form(form) }}
    </div>
{% endblock %}