{# templates/bundles/EasyAdminBunble/odpf/odpf-logos-lien.html.twig #}
<a href="{{ field.value }}" target="_blank"><img src="{{ field.value }}" alt="{{ field.value }}"
                                                 class="img-thumbnail img-fluid" style="width: auto; height :80px"></a>

