{# templates/bundles/EasyAdminBunble/logos.html.twig #}
<a href="{{ asset('odpf/odpf-logos/'~field.value) }}" target="_blank"><img
            src="{{ asset('odpf/odpf-logos/'~field.value) }}" alt="{{ field.value }}" class="img-thumbnail img-fluid"
            style="width: auto; height :80px"></a>

