{# templates/bundles/EasyAdminBunble/odpf/odpf-affiche.html.twig #}


<a href="{{ asset('odpf/odpf-archives/'~app.session.get('editionpassee').ed~'/affiche/'~field.value) }}"
   target="_blank"><img src="{{ 'odpf/odpf-archives/'~app.session.get('edition').ed~'/affiche/'~field.value }}"
                        class="img-thumbnail img-fluid" style="width: auto; height :80px"></a>

