{# templates/bundles/EasyAdmin/liste_fichiers.html.twig #}
 {% for message in app.session.flashbag.get('alert') %}
     <div class="p-3 mb-2 bg-danger text-white">{{ message }}</div>
 {% endfor %}
{% set array_fichier=field.value|split('-') %}
{% set edition=array_fichier[0] %}

<a href="{{ asset('odpf/odpf-archives/'~edition~'/fichiers/'~type_fichier[app.request.query.get('typefichier')]~'/'~field.value) }}"
   target="_blank">{{ field.value }}</a>