{% extends '@!EasyAdmin/default/list.html.twig' %}

{% block content_title %}
    <title>
        Photos des équipes du concours interacadémique de la <b>{{ app.session.get('edition_titre') }}<sup>e</sup></b>
        edition.
    </title>

{% endblock %}


    
    

