{% extends "base1.html.twig" %}
{% block title %} Accueil Comité {% endblock %}

{% block navigation %}
    <div class="col-md-2">
        {{ include ('comite/navigation.html.twig') }}
    </div>
{% endblock %}

{% block titre3 %} Accueil du Comité National {% endblock %}

{% block body %}



{% endblock %}