{% extends "base1.html.twig" %}
{% block title %} Accueil Comité {% endblock %}

{% block navigation %}

    {{ include ('comite/navigation.html.twig') }}
{% endblock %}

{% block titre3 %} Frais du comité pour la {{ edition }}ème  édition {% endblock %}

{% block body %}

    <div class="well">
    Vous allez remplir un tableau dont voici les en-têtes.
    Chaque ligne corresond à une dépense.

    <div class="table-responsive-sm">
    <table class="table">
        <thead>

        <th scope="col">Date</th>

        <th scope="col">Désignation</th>

        <th scope="col">Déplacement</th>

        <th scope="col">Repas</th>

        <th scope="col">Fournitures</th>

        <th scope="col">Poste et tél</th>

        <th scope="col">Impressions</th>

        <th scope="col">Autres</th>
        </tr>
        </thead>
    </table>
    <div class="col-4">
        {{ form(form) }}
    </div>
{% endblock %}