{#  <button type="button" class="fas fa-user btn btn-outline-primary btn-lg btn-bloc"  >
    {{ user.firstname|title }} {{ user.lastname|title }} 
  </button>
#}
<nav class="navbar navbar-default">


    <ul class="dropright" style="list-style-type:none">
        <li>
            <button class="fas fa-pencil-alt btn btn-outline btn-sm btn-block dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages Comité
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ path('comite_frais_lignes') }}">Déclaration des Frais</a>

            </div>
        </li>
    </ul>
</nav>