{# security/verif_mail.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nouvel utilisateur d'Olymphys</title>
</head>
<body>
<p>
    Bonjour Webmestre, <br>
    Le nouvel utilisateur {{ user.username }} a fini son inscription sur le site
</p>
</body>
</html>

