{% extends 'base1.html.twig' %}
 
{% block title %}Reset password{% endblock %}
 
{% block body %}

    <h1 class="h3 mb-3 font-weight-normal">Renouvellement du mot de passe</h1>
    {{ form_start(form) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <button class="" type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
