<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}"/>
    <title>Une erreur est survenue: {{ status_text }}</title>
</head>
<body>
<h1>Aïe ! Une erreur est survenue</h1>
<h2>Le serveur a renvoyé une "404 Page non trouvée ".</h2>

<div>
    Il y a un souci. Faites-le nous savoir et précisez quand c'est arrivé...
    Nous le réparerons sans délai ! Excusez-nous pour les inconvénients !
</div>
</body>
</html>
